/**
 * Quick Multilingual Admin Styles
 */

 .nav-tab-wrapper {
    margin-bottom: 1em;
}

.nav-tab-active {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.so_qmp-tab-content {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 20px;
}

.form-table th {
    width: 250px;
}

#page-translations-table {
    width: 100%;
    border-collapse: collapse;
}

#page-translations-table th,
#page-translations-table td {
    padding: 10px;
    vertical-align: top;
}

#page-translations-table thead th {
    background: #f1f1f1;
    font-weight: bold;
    text-align: left;
}

#page-translations-table select {
    width: 100%;
}

.page-mapping-row:nth-child(odd) {
    background: #f9f9f9;
}